@media (min-width: 1025px) {}

.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}

.totalCartAmount {
    justify-content: space-around;
    /* text-align: end; */
}

.btnBuy {
    justify-content: space-around !important;
}

.footer {
    background-color: #555555;

}

body {
    margin-bottom: 0 !important;


}

body .footer {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.delete {
    justify-content: space-between;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
            margin-top: -.3rem;
        }
    }
}

.shopping-cart .def-number-input.number-input {
    border: none;
    width: 100px;
}

.shopping-cart .def-number-input.number-input input[type=number] {
    max-width: 2rem;
    border: none;
}

.shopping-cart .def-number-input.number-input input[type=number].black-text,
.shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
.shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
.shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
    color: #212529 !important;
}

.shopping-cart .def-number-input.number-input button {
    width: 1rem;
}

.shopping-cart .def-number-input.number-input button:before,
.shopping-cart .def-number-input.number-input button:after {
    width: .5rem;
}

.shopping-cart .def-number-input.number-input button.minus:before,
.shopping-cart .def-number-input.number-input button.minus:after {
    background-color: #9e9e9e;
}

.shopping-cart .def-number-input.number-input button.plus:before,
.shopping-cart .def-number-input.number-input button.plus:after {
    background-color: #4285f4;
}

.totalCartAmount {
    justify-content: space-around;
    /* text-align: end; */
}

.btnBuy {
    justify-content: space-around !important;
}

.footer {
    background-color: #555555;

}

body {
    margin-bottom: 0 !important;


}

body .footer {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

/* .cartCount{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .cartCount span{
        display: inline-block !important;
    } */


/* Devendra  */
.cart_page{
    position: relative;
    height: 91vh;
}
.back_button{
    position: fixed;
    background-color: #f0eeee;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    top: 0px;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-0%);
    box-shadow: 0px 5px 3px rgb(235, 233, 233);
}

.D_cart {
    background-color: #f0eeee;
    margin: 0px 0px;
    padding: 10px;
    transition: .6s;
}

.flex p {
    margin-bottom: 5px;
}

.flex {
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;

}

.D_cart:hover {
    
    box-shadow: 0px 5px 3px rgb(202, 200, 200);
}
.D_total_pay{
    background-color: #f0eeee;
    padding: 20px;
    margin: 20px 0;
    transition: .6s;
}
.D_total_pay:hover{
    box-shadow: 0px 5px 3px rgb(202, 200, 200);
}

