body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #3fbbc0;
    text-decoration: none;
  }
  
  a:hover {
    color: #65c9cd;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif;
  }
.medinav a{
    text-decoration: none !important;
}
.medinav {
    justify-content: center !important;
    align-items: center !important;
    font-weight: 500px !important;
}
.navTwo{
    position: sticky;
    top: 0;
    z-index: 10;
    color: #444444;
  }

.navTwo .nav-link{
    color: #555555 !important;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #3fbbc0 !important;
}
.cardTemplate{
    display: flex;

}
.cardIcon {
    min-height: 250px;
    display: flex !important;
}
.cardIcon .card {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 10px rgb(225, 224, 224);
}
.cardIcon p {
    color: #555555;
}

.cardIcon a {
    color: #848484;
    font-weight: 800;
    text-decoration: none;
}
.cartBtn a{
  list-style: none !important;
}
.footer{
  padding-bottom: 0px !important;

}

/* devendra */
/* body{
position: relative;
}
.mySidenav{
  position: fixed !important;
  top: 0;
}
.card {
  box-shadow: 0px 2px 9px #d6d6ce !important
}
.cardIcon .card:hover{
  box-shadow: 0px 5px 3px rgb(235, 233, 233) !important;
}
.card-body2 {
  position: relative;
}
.D_button{
  position: absolute;
  right: 0;
} */